body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

body{
    padding-top: 100px;
}


.brand{
    font-size: 1.5rem;
    color: rgba(255,255,255,.55);
    text-decoration: none;
}

.brand:hover {
    color: rgba(255,255,255,.75);
}

.brand:visited{
    color: rgba(255,255,255,.55);
}

.brand:active{
    color: rgba(255,255,255,.75);
}

.container2{
    padding-top: 20vh;
}


footer{
    position: fixed;
    bottom: 0;
    padding: 10px 0;
    background-color: #101010;
    color:#9d9d9d;
    width: 100%;
}

@media (max-width: 767.98px) {
    .brand{
        font-size: 1.2rem;
    }
    
    .navbar-toggler{
        font-size: 0.8rem;
    }

    .nav-link{
        font-size: 0.7rem;
    }

    .text3{
        font-size: 0.7rem;
    }

    .text1{
        font-size: 0.9rem;
    }

    .text2{
        font-size: 0.6rem;
    }

    .text4{
        font-size: 0.8rem;
    }

    .table-responsive{
        margin: 5vh 20vw 10vh 10vw;
    }

    .btn{
        width:100px;
    }
}

@media (min-width: 992px) {
.col-md-offset-3 {
    margin-left: 25%;
}
}

@media (max-width: 576px)
{
    .container2{
        text-align: center;
    }
}