body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

body{
    padding-bottom: 100px;
}

.brand{
    font-size: 1.5rem;
    color: rgba(255,255,255,.55);
    text-decoration: none;
}

.brand:hover {
    color: rgba(255,255,255,.75);
}

.brand:visited{
    color: rgba(255,255,255,.55);
}

.brand:active{
    color: rgba(255,255,255,.75);
}

.py-5{
    background-color: 	rgb(169,169,169);
}


.container4{
    margin: 6% 8% 2% 8%;
    border-radius: 10px;
}

h3{
    padding-top: 20px;
}

.pad_4{
    padding-left: 10px;
}

.box{
    padding-bottom: 20px;
}

footer{
    padding: 10px 0;
    background-color: #101010;
    color:#9d9d9d;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 767.98px) {
    .brand{
        font-size: 1.2rem;
    }
    
    .navbar-toggler{
        font-size: 0.8rem;
    }

    .nav-link{
        font-size: 0.7rem;
    }

    .text3{
        font-size: 0.7rem;
    }

    .text2{
        font-size: 1.2rem;
    }

    .text1{
        font-size: 0.8rem;
    }

    .pl_button{
        font-size: 0.5rem;
    }

    .row{
        text-align: center;
    }

    .box{
        padding-top: 15px;
    }
}

@media (max-width: 991.98px){
    .container4{
        margin-top: 12vh;
    }
}

@media (max-width: 575.98px){
    .container4{
        text-align: center;
    }
}